<%- include('partials/header') %>

    <h1>Nice home page! <%= 'hello world' .toUpperCase() %>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut reiciendis voluptatibus dignissimos officiis animi
        debitis necessitatibus eum, commodi, tempora minus alias doloremque aliquid! Earum neque excepturi natus sint,
        impedit accusantium.</p>

    <h2>Nicer bottom part!!!</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci minus, corrupti quas, earum iure illo unde,
        doloribus officia aspernatur obcaecati minima eos fuga! Quod corrupti eligendi, nulla rerum temporibus dicta.
        Porro tempora culpa officia repudiandae et quaerat voluptatum facere esse sit est cupiditate, eos expedita in
        commodi iusto consectetur molestias omnis fugiat perferendis. Sunt explicabo quibusdam maiores asperiores
        similique optio!
        Alias exercitationem veniam voluptates modi nemo non impedit explicabo aliquam dolorum fugiat a dolore ut,
        distinctio possimus sit consequuntur autem blanditiis quidem at saepe necessitatibus nobis quae? Aliquid,
        eveniet labore?
        Doloribus asperiores iure minus, accusantium quas cum fuga tempore sequi fugiat laudantium sed harum iusto quo
        sapiente ipsum libero corporis quisquam distinctio labore debitis veritatis. Doloribus sapiente unde asperiores
        sint?</p>
</body>

</html>