<%- include('partials/header') %>
    <h1>Your number is... <%= numero %>
    </h1>

    <% if (numero % 2===0) { %>
        <h2>It is even!</h2>
        <% } else { %>
            <h3>It is odd...</h3>
            <% } %>
</body>

</html>